In [18]:
import pandas as pd
pd.set_option('display.max_row', 500)
pd.set_option('display.max_columns', 500)

def create_date_table(start, end):
    start_ts = pd.to_datetime(start).date()

    end_ts = pd.to_datetime(end).date()

    # record timetsamp is empty for now
    dates =  pd.DataFrame(columns=['Record_timestamp'],
        index=pd.date_range(start_ts, end_ts))
    dates.index.name = 'FullDateAlternateKey'

    months_names_kor = {
        i+1: name
        for i, name
        in enumerate(['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'])
    }
    
    months_names_eng = {
        i+1: name
        for i, name
        in enumerate(['January','February','March','April','May','June','July','August','September','October','November','December'])
    }
    
    days_names_kor = {
        i: name
        for i, name
        in enumerate(['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'])
    }
    
    days_names_eng = {
        i: name
        for i, name
        in enumerate(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])
    }
    
    # 월
    dates['MonthNumberOfYear'] = dates.index.month
    dates['KoreanMonthName'] = dates.index.month.map(months_names_kor.get)
    dates['EnglishMonthName'] = dates.index.month.map(months_names_eng.get)

    # 일
    dates['DayNumberOfWeek'] = dates.index.dayofweek.map(lambda x: x + 2 if x < 6 else 1) # {월 : 0 ~ 일 : 6}을 {일 : 1 ~ 토 : 7}로 바꾼다.
    dates['KoreanDayNameOfWeek'] = dates.index.dayofweek.map(days_names_kor.get)
    dates['EnglishDayNameOfWeek'] = dates.index.dayofweek.map(days_names_eng.get)
    
    dates['CalendarYear'] = dates.index.year # 연도
    dates['CalendarYearHalf'] = dates.index.month.map(lambda mth: 1 if mth <7 else 2) # 반기
    dates['CalendarQuarter'] = dates.index.quarter # 분기

    dates['WeekNumberOfYear'] = dates.index.week # 주차 : 1 ~ 52
    dates['DayNumberOfMonth'] = dates.index.day # 월별 일 : 1 ~ 31
    dates['DayNumberOfYear'] = dates.index.dayofyear # 연간 일수 : 1 ~ 365
    
    dates.reset_index(inplace=True)
    dates.index.name = 'DateKey'
    dates.drop(['Record_timestamp'], axis=1, inplace=True)
    return dates


def dateKey(inColumn):
    return str(inColumn)[:10].replace('-', '')

def fullDateKor(inColumn):
    tmpDate = str(inColumn)[:10].split('-')
    outValue = tmpDate[0] + "년 " + tmpDate[1] + "월 " + tmpDate[2] + "일"
    
    return outValue

df = create_date_table(start='1900-01-01', end='2100-12-31')

df['DateKey'] = df.FullDateAlternateKey.apply(dateKey)
df['FullDateKor'] = df.FullDateAlternateKey.apply(fullDateKor)

# 컬럼 순서 재정렬
df = df.reindex(columns=['DateKey'
                         ,'FullDateAlternateKey'
                         ,'FullDateKor'
                         
                         ,'MonthNumberOfYear'
                         ,'KoreanMonthName'
                         ,'EnglishMonthName'
                         
                         ,'DayNumberOfWeek'
                         ,'KoreanDayNameOfWeek'
                         ,'EnglishDayNameOfWeek'
                         
                         ,'CalendarYear'
                         ,'CalendarYearHalf'
                         ,'CalendarQuarter'
                         
                         ,'WeekNumberOfYear'
                         ,'DayNumberOfMonth'
                         ,'DayNumberOfYear'
                        ])

df

# df.to_csv("./DimDate.csv", index=False, encoding='UTF-8')
# pd.read_csv('./DimDate.csv')

In [19]:
pd.read_csv('./DimDate.csv')

,DateKey,FullDateAlternateKey,FullDateKor,MonthNumberOfYear,KoreanMonthName,EnglishMonthName,DayNumberOfWeek,KoreanDayNameOfWeek,EnglishDayNameOfWeek,CalendarYear,CalendarYearHalf,CalendarQuarter,WeekNumberOfYear,DayNumberOfMonth,DayNumberOfYear
0,19000101,1900-01-01,1900년 01월 01일,1,1월,January,2,월요일,Monday,1900,1,1,1,1,1
1,19000102,1900-01-02,1900년 01월 02일,1,1월,January,3,화요일,Tuesday,1900,1,1,1,2,2
2,19000103,1900-01-03,1900년 01월 03일,1,1월,January,4,수요일,Wednesday,1900,1,1,1,3,3
3,19000104,1900-01-04,1900년 01월 04일,1,1월,January,5,목요일,Thursday,1900,1,1,1,4,4
4,19000105,1900-01-05,1900년 01월 05일,1,1월,January,6,금요일,Friday,1900,1,1,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73409,21001227,2100-12-27,2100년 12월 27일,12,12월,December,2,월요일,Monday,2100,2,4,52,27,361
73410,21001228,2100-12-28,2100년 12월 28일,12,12월,December,3,화요일,Tuesday,2100,2,4,52,28,362
73411,21001229,2100-12-29,2100년 12월 29일,12,12월,December,4,수요일,Wednesday,2100,2,4,52,29,363
73412,21001230,2100-12-30,2100년 12월 30일,12,12월,December,5,목요일,Thursday,2100,2,4,52,30,364
73413,21001231,2100-12-31,2100년 12월 31일,12,12월,December,6,금요일,Friday,2100,2,4,52,31,365