# 기본서
### 단축키, 자료형과 사용법
### 몇 가지 예제, 짝수 인덱스, 홀수 인덱스 뽑아내기

### 값 정의하고 더하기

In [1]:
a=3   # a에 숫자 3을 정의
b=5   # b에 숫자 5를 정의
a+b   # 계산식에 a+b= 이라고 명령 내리지 않는다. '='은 정의를 내리는 명령어다.

8

In [2]:
a = 7
b = 2
print(a*b)
print(a-b)
print(b-a)

14
5
-5

### ESC키를 누르면 명령(Command)모드로 전환
### Return키를 누르면 편집(Edit)모드로 전환

### ESC키를 눌러 명령모드로 전환된 상태에서 'M'키를 누르면 Markdown 상태가 되어 제목이나 메모를 기록할 수 있다. (M : Markdown, Y : Code)

In [3]:
# This is a H1
## This is a H2
### This is a H3
#### This is a H4
##### This is a H5
###### This is a H6 를 마크다운 상태에서 입력하면 아래와 같다.

# This is a H1
## This is a H2
### This is a H3
#### This is a H4
##### This is a H5
###### This is a H6

In [4]:
# Markdown 상태에서는 #이 글씨 크기를 설정하지만 Code 상태에서는 #이 코드에 포함되지 않는 메모 역할을 한다.
# shift + return키로 코드를 실행 후 아래 셀로 이동 된 상태에서 바로 숫자 1~6을 입력하면 자동으로 # 갯수가 포함된 마크다운 상태가 된다.

### 명령모드(Command) 단축키

a : above (위에 셀 추가하기) <br>
b : bottom (아래 셀 추가하기) <br>
d+d : delete + delete (셀 삭제하기) <br>
shift + l : line (셀 줄번호 표시하기) <br>
shift + m : merger (셀 병합)

### 편집모드(Edit) 단축키

control + Return : 셀 실행 <br>
shift + Return : 셀 실행 후 아래 셀로 이동 <br>
shift + Tab : 도움말 <br>
Tab : 자동 완성 <br>
control + / : 코드 주석 처리 (해당 코드라인 가장 앞에 #을 넣는 기능) <br>
control + shift + - : 셀 나누기     /  shift + m 병합하기와 반대 기능

### 단계별 실습하며 배우는 빅데이터 프로그래밍 P.29 10번 문제

데이터를 코드와 같은 폴더에 저장한 후 kopo_customerdata.csv 파일을 "보기"코드를 활용하여 불러온 후 최소, 최댓값을 뺀 평균을 구하세요.

            < 보기 >
import pandas as pd

customerData = pd.read_csv("../dataset/kopo_customerdata.csv") <br>
custoemrTotalList = customerData["TOTAL_AMOUNT"].tolist()

In [1]:
import pandas as pd

In [2]:
customerData = pd.read_csv("/Users/saebyul/pywork/dataset/kopo_customerdata.csv")
# customerData를 해당 csv 파일로 정의한다.

In [3]:
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()
# 엑셀 파일에 보면 TOTAL_AMOUNT라는 열이 있다.
# customerTotalList를 customerData 내에 있는 TOTAL_AMOUT 열의 값을 tolist 함수를 이용해 리스트를 정의한다.

In [4]:
maximum = max(customerTotalList)              # 최댓값을 max 명령어를 이용해 customerTotalList 에서 찾는다.
minimum = min(customerTotalList)              # 최솟값을 min 명령어를 이용해 customerTotalList 에서 찾는다.
print(maximum)
print(minimum)

3103500
0

In [5]:
maximum_duplication = customerTotalList.count(maximum)
# maximum.duplication 라고 정의하면 duplication이라는 함수를 인식하는 것 처럼 작동하니 가급적 _ 로 구분한다.
# maximum_duplication 최댓값의 갯수를 구하기 위해 다음과 같이 정의한다.
# 'customerTotalList로 정의한 리스트'에 count 함수를 사용해 위에서 구한 maximum(=3103500) 값의 갯수를 구한다.
# 그냥 conunt(maximum) 라고 함수를 사용하면 어디에서 count 할 것인지가 정의되지 않는다. 엑셀과 달리 반드시 앞에 리스트를 입력한다.

minimum_duplication = customerTotalList.count(minimum)
print(maximum_duplication)
print(minimum_duplication)

1
256

In [6]:
print(len(customerTotalList))                           # len 함수를 이용해 전체 리스트 갯수를 구함.

300000

In [7]:
while maximum_duplication >= 1:
        # remove 함수는 처음 발견한 값 하나만을 지우기 때문에 중복값이 n개면 n회 반복해야한다.
        # while 함수에서 반복 실행할 구간을 정한 후 마지막에 : 으로 마무리 한다. 이걸 안 넣으면 에러 발생.
        customerTotalList.remove(maximum)
        # 'customerTotalList로 정의한 리스트'에 remove 함수를 사용해 위에서 구한 maximum(=3103500) 값을 제거한다.
        maximum_duplication = maximum_duplication - 1

In [8]:
print(len(customerTotalList))            # 중복된 최댓값 1개가 전체 리스트에서 사라진 것을 확인.

299999

In [9]:
print(maximum_duplication)               # 더이상 최댓값(=3103500)이 리스트에 없음을 확인.

0

In [10]:
while minimum_duplication >= 1:
        customerTotalList.remove(minimum)
        minimum_duplication = minimum_duplication - 1

In [11]:
print(len(customerTotalList))            # 중복된 최솟값 256개가 전체 리스트에서 사라진 것을 확인.

299743

In [12]:
print(minimum_duplication)               # 더이상 최솟값(=0)이 리스트에 없음을 확인.

0

In [13]:
print(sum(customerTotalList)/len(customerTotalList))

35248.91490376756

반복문 함수 없이 풀기

In [1]:
import pandas as pd

customerData = pd.read_csv("/Users/saebyul/pywork/dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

In [2]:
maximum = max(customerTotalList)                         # 최댓값을 정의.
minimum = min(customerTotalList)                         # 최솟값을 정의.

In [3]:
maximum_duplication = customerTotalList.count(maximum)   # 최댓값의 개수를 정의.
minimum_duplication = customerTotalList.count(minimum)   # 최솟값의 개수를 정의.

In [4]:
# (전체합 - n개의 최댓값의 합 - m개의 최솟값의 합) / (전체 개수 - 최댓값 n개 - 최솟값 m개)
print((sum(customerTotalList) - maximum*maximum_duplication - minimum*minimum_duplication)\
      /(len(customerTotalList) - maximum_duplication - minimum_duplication))

35248.91490376756

반복문 함수 없이 풀기 2 (정렬 이용)

In [ ]:
import pandas as pd

customerData = pd.read_csv("/Users/saebyul/pywork/dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

In [2]:
# 오름차순으로 정렬시키기
customerTotalList.sort()

In [3]:
# 전체 개수와 최솟값과 최댓값의 개수 구하기
total_len = len(customerTotalList)
minimum = min(customerTotalList)
maximum = max(customerTotalList)
minimum_duplication = customerTotalList.count(minimum)
maximum_duplication = customerTotalList.count(maximum)

In [4]:
# 최솟값과 최댓값을 모두 뺀 리스트 생성. 최솟값 중복이 n개, 최댓값 중복이 m개면 n+1 번째부터 시작해 뒤에 m개가 빠찜.
customerTotalList = customerTotalList[minimum_duplication : total_len - maximum_duplication ]

In [5]:
average = sum(customerTotalList) / len(customerTotalList)
average

35248.91490376756

반복문 함수 이용해 풀기(while)

In [1]:
import pandas as pd

customerData = pd.read_csv("/Users/saebyul/pywork/dataset/kopo_customerdata.csv")
customerTotalList = customerData["TOTAL_AMOUNT"].tolist()

In [2]:
maximum = max(customerTotalList)                         # 최댓값을 정의.
minimum = min(customerTotalList)                         # 최솟값을 정의.

In [3]:
while customerTotalList.count(maximum) > 0:
    customerTotalList.remove(maximum)

In [4]:
while customerTotalList.count(minimum) > 0:
    customerTotalList.remove(minimum)

In [5]:
print(sum(customerTotalList)/len(customerTotalList))

35248.91490376756

In [7]:
# 반복문을 사용하는 것이 무조건 좋은 것은 아니다. 오히려 코드는 길어지고 반복문이 30만번씩 돌면 시간도 더 걸린다.

for문 이용하는거는 최댓값

### 파이썬의 자료형 5가지

1. 수(Number)           :     일반 숫자 정의      :   정수(int), 실수(float) <br>
2. 문자열(String)        :    홑/겹 따옴표로 정의   :   "Python is my favorite" <br>
3. 리스트(List)          : 생성, 삭제, 수정 가능한 집합 :   [1, 2, 3, 4, 5] <br>
4. 튜플(Tuple)          :  생성, 삭제만 가능한 집합  :   (1, 2, 3, 4, 5) <br>
5. 딕셔너리(Dictionary)  :    Key-Value 정의     :   {"product_name" : "led", "product_price" : 100}

1. 수(Number)

In [1]:
stringValue = "10"            # stringValue를 문자열("") 10으로 정의
intValue = 3                  # intValue를 숫자 3으로 정의
int(stringValue) + intValue   # stingValue의 문자 10을 숫자로 변환하여 intValue의 숫자값과 더하기

13

In [2]:
stringValue + intValue        # 그냥 계산하면 stringValue(문자열) + intValue(숫자)로 자료형이 일치하지 않아 에러 발생!

TypeError: can only concatenate str (not "int") to str

In [3]:
# 값 정의하기
integer_value = 123
float_value = 12.345
float_value2 = 12.654

In [4]:
# 1) 실수를 정수로 변환
print(int(float_value))    # int는 반올림 하지 않는다. 내림!
print(int(float_value2))   # int는 반올림 하지 않는다. 내림!

12
12

In [5]:
# 2) 더하기 연산
sumation = integer_value + float_value
print(sumation)

135.345

In [6]:
# 3) 곱하기 연산
multiple = integer_value * float_value
print(multiple)

1518.4350000000002

In [7]:
# 4) 나누기 연산
division = integer_value / float_value
print(division)

9.963547995139733

In [8]:
# 5) 제곱 연산
integer_value2 = int(float_value)
square = integer_value2**2           # WolframAlpha 에서는 숫자^2 지만 파이썬에서는 ^을 **로 입력한다.
print(square)

144

In [9]:
# 6) 세제곱 연산
cube = integer_value2**3             # 세제곱이라고 ***가 아니다. ^을 **로 정의내린 것 뿐이다.
print(cube)

1728

In [10]:
# 7) 나머지 연산
mod = integer_value % int(float_value)
print(mod)

3

2. 문자열(String)

In [1]:
print(This is 'String' value.)        # 문자열이 아니다. This 앞과, value. 뒤에 따옴표가 와야 한다.

SyntaxError: invalid syntax (<ipython-input-1-34c789b01a7f>, line 1)

In [2]:
print("This is 'String' value.")      # 가장 무난함.

This is 'String' value.

In [3]:
print('This is "String" value.')      # 가능함.

This is "String" value.

In [4]:
print("""This is 'String' value.""")  # 맨 앞 뒤 따옴표 형태만 맞추면 됨.

This is 'String' value.

In [5]:
# 1) 문자열 더하기
head = "smart"                     # head를 문자열(" ") smart로 정의
tail = "analytics"                 # tail를 문자열(" ") analytics로 정의
fullString = head + " " + tail     # 문자 + (공백 하나가 들어간)문자 + 문자
print(fullString)

smart analytics

In [6]:
# 2) 문자열 곱하기
print("A"*5)

AAAAA

In [7]:
# 3) 문자열 인덱싱 (0부터 시작!!!! 따라서 인덱싱 n번째는 실제로 n+1번째 값이다.)
yearweek = "1234567"        # yearweek는 8자리지만 7자리만 정의했다.
print(yearweek[0])          # 0+1 번째 문자열 'y'에 정의된 값 1
print(yearweek[1])          # 1+1 번째 문자열 'e'에 정의된 값 2
print(yearweek[6])          # 6+1 번째 문자열 'e'에 정의된 값 7

1
2
7

In [8]:
# [a:b] 는 a+1 번째 문자열 ~ b+1 번째 문자열 전까지를 정의한다.
print(yearweek[:3])         # 3+1 번째 문자열 전까지 'yea'에 정의된 값 123
print(yearweek[3:])         # 3+1 번째 문자열 부터 끝까지 'rweek'에 정의된 값 4567
print(yearweek[1:3])        # 1+1 번째 문자열 ~ 3+1 번째 문자열 전까지. 즉, 2번째 문자열 ~ 4번째 문자열 전까지.
                            # 즉, 3번째 문자열 ~ 3번째 문자열 'ea'에 정의된 값 23

123
4567
23

In [9]:
print(wearweek[7])          # 위에서 yearweek는 8자리지만 7자리만 정의해서 7+1번째에 정의된 값이 없으므로 에러 발생.
                            # 만약 yearweek = "12345678"로 정의했다면 7+1번째 정의된 문자값 8이 나왔을 것이다.

NameError: name 'wearweek' is not defined

In [10]:
# 4) 문자열 개수 세기 (count)
yearweek = "2017W28"
print(yearweek.count("W"))       # 대소문자 구분으로 대문자 W는 1개가 된다.
print(yearweek.count("w"))       # 대소문자 구분으로 소문자 w는 0개가 된다.

1
0

In [11]:
# 5) 문자열 위치 확인 (index)
print(yearweek.index("W"))              # W값이 2017W28에서 5번째에 위치하므로 n+1=5 니까 n=4 이다.
delimeter = yearweek.index("W")         # 따라서 delimeter를 상수 4로 정의한다.
newYearweek = yearweek[:delimeter] + yearweek[delimeter + 1:]
# newYearweek는 'yearweek의 4+1 번째 전까지' + 'yearweek의 (4+1)+1 번째 부터 끝까지'
# 즉, '2017' + '28'
print(newYearweek)

4
201728

In [12]:
# 6) 대소문자 구별 함수 (upper/lower)
letters = "LeD_tv"                # letters를 "LeD_tv" 로 정의한다.
print(letters.upper())            # letters를 모두 대문자로 바꾼다.
print(letters.lower())            # letters를 모두 소문자로 바꾼다.
# upper() 함수나 lower() 함수는 뒤에 값을 () 공백으로 넣어야 작동한다. 안에 upper(e) 또는 upper("e")는 에러 발생.

LED_TV
led_tv

In [13]:
# 7) 문자 치환 (replace)
repLetters = "2017W28"               # repLetters를 "2017W28"로 정의한다.
print(repLetters.replace("W","_"))   # repLetters의 "W" 문자를 "_" 문자로 치환한다.

2017_28

In [14]:
# 8) 문자 분리 (split)
yearweek_list = yearweek.split("W")   # yearweek를 "W"문자를 기준으로 n개의 '리스트'로 분리한다.
print(yearweek_list)

['2017', '28']

In [15]:
animal = "Bear@Tiger@Duck@Chicken@Cow"   # split 함수를 이용해 n개의 '리스트'로 분리하는 것을 실험하기 정의한다.
animal_list = animal.split("@")          # animal을 "@" 문자를 기준으로 n 개의 '리스트'로 분리한다.
print(animal_list)

['Bear', 'Tiger', 'Duck', 'Chicken', 'Cow']

In [16]:
# 9) 자료형의 변환
# 문자 -> 수(정수)
intValue = 1234                  # "1234" 또는 '1234' 처럼 문자열로 정의하지 않으면 기본적으로 숫자는 정수나 실수로 포맷된다.
floatValue = 123.456
print(type(intValue))            # 1234로 입력하여 정수로 포맷됐다.
print(type(floatValue))          # 123.456으로 입력하여 실수로 포맷됐다.

<class 'int'>
<class 'float'>

In [17]:
strValue = "1234"                # "1234"로 입력하여 문자열(String)로 포맷됐다.
cvIntValue = int(strValue)       # strValue를 int 함수를 이용해 정수 포맷으로 변경.
print(type(cvIntValue))

<class 'int'>

In [18]:
# 문자 -> 수(실수)
strValue = "1234"                # "1234"로 입력하여 문자열(String)로 포맷됐다.
cvFloatValue = float(strValue)   # strValue를 float 함수를 이용해 실수 포맷으로 변경.
print(type(cvFloatValue))

<class 'float'>

In [19]:
# 숫자 -> 문자
numberValue = 1234               # 1234로 입력하여 정수로 포맷됐다.
cvStrValue = str(numberValue)    # numberValue를 str 함수를 이용해 문자열(String) 포맷으로 변경.
print(type(cvStrValue))

<class 'str'>

3. 리스트(List) : 생성, 삭제, 수정 가능한 집합

In [1]:
# 빈 리스트 생성
emptyList = []
# 가격 집합 리스트 생성
priceList = [120,130,150,200,180]
# 복합 리스트 생성
secinfo = ["SEC",120,130,[201712,201313]]

In [2]:
# 1) 리스트 연산
stockName = ["SEC"]                               # 문자열은 반드시 " "로 정의한다. stockName = [SEC]는 오류 발생.
priceList = [120,130]
dateList = [201712,201713]

secinfo = stockName + priceList + dateList        # 아래 수식과 결과값을 비교해본다.
print(secinfo)

['SEC', 120, 130, 201712, 201713]

In [3]:
secinfo = stockName + priceList + [dateList]      # 위 수식과 결과값을 비교해본다.
print(secinfo)

['SEC', 120, 130, [201712, 201713]]

In [4]:
# 2) 리스트 인덱싱
secinfo = ["SEC",120,130,[201712,201713]]
# 문자열은 반드시 " "로 정의. secinfo를 1개의 문자열, 2개의 숫자, 1개의 리스트로 구성된 4개의 값을 가진 리스트로 정의.
print(secinfo[1])              # secinfo리스트의 1+1번째 값 120을 출력.
print(secinfo[3])              # secinfo리스트의 3+1번째 값 [201712, 201713]을 출력.

120
[201712, 201713]

In [5]:
print(secinfo[3][0])           # secinfo리스트의 3+1번째 값 [201712,201713]리스트의 0+1번째 값 201712를 출력.
print(secinfo[0][2])           # secinfo리스트의 0+1번째 값 "SEC" 문자열의 2+1번째 값 C를 출력.
                               # 따라서 0+1번 값과 2+1번 값을 구하고 싶다면 아래와 같이 입력한다.
print(secinfo[0],secinfo[2])   # 리스트는 한번에 하나의 값 또는 리스트를 반환한다.
                               # 따라서 서로 떨어진 값을 출력하려면 print 함수 내에 리스트를 호출을 n번 사용한다.
                               # 이는 조건문을 이용해 반복시킬 수도 있다.
                               # 여기서는 0+1번째 값 "SEC"와 2+1번째 값 130을 출력한다.
print(secinfo[0:3])            # secinfo리스트의 0+1번째 ~ 3+1번째 값 전까지 ["SEC", 120, 130] 리스트로 출력.
                               # 범위로 불러올 경우 값이 아닌 리스트를 불러오게 된다.

print(secinfo[1][1])           # secinfo리스트의 1+1번째 값 120은 숫자로 리스트나 문자열이 아니다.
                               # 따라서 숫자 120의 1+1번째 값은 없다. 에러 발생

201712
C
SEC 130
['SEC', 120, 130]

TypeError: 'int' object is not subscriptable

In [6]:
testList = ["a,b,c,d,e"]                     # testList를 "a,b,c,d,e"라는 문자열 1개의 값을 가진 리스트로 정의.
print(testList[0])

a,b,c,d,e

In [7]:
testList = ["a","b","c","d","e"]          # testList를 a~e까지 각 문자열 하나씩 5개의 값을 가진 리스트로 정의.
print(testList[0])                        # testList리스트의 0+1번째 값 a를 출력.
print(type(testList[0]))                  # 단일값 호출로 문자열 포맷.
print(testList[0:])                       # testList리스트의 0+1번째 값부터 끝까지 [a, b, c, d, e] 리스트로 출력.
print(type(testList[0:]))                 # 범위값 호출로 리스트 포맷.
print(testList[0:2])                      # testList리스트의 0+1번째 ~ 2+1번째 전까지 [a, b] 리스트로 출력.
print(type(testList[0:2]))                # 범위값 호출로 리스트 포맷.
print(testList[0],testList[2])            # testList리스트의 0+1번째 값 a와 2+1번째 값 c를 출력.
print(type(testList[0]))                  # 각각의 단일값 2개의 호출로 각각의 문자열 포맷.
print(type(testList[2]))

a
<class 'str'>
['a', 'b', 'c', 'd', 'e']
<class 'list'>
['a', 'b']
<class 'list'>
a c
<class 'str'>
<class 'str'>

In [8]:
testList = [a,b,c,d,e]                       # 문자열로 정의되지 않아서 에러 발생. 반드시 " " 빼먹지 말자.
print(testList[0])

NameError: name 'a' is not defined

In [10]:
# 3) 리스트 값 업데이트 하기
updateList = [120,130,140,170,140]   # 숫자로 이루어진 리스트 생성.
print(updateList)                    # 초기 리스트 출력.
updateList[2] = 150                  # updateList의 2+1번째 값을 150으로 업데이트.
print(updateList)                    # 업데이트 된 새 리스트 출력.
updateList[1:4] = [320,470,130]      # updateList의 1+1 ~ 4 번째 값을 320,470,130으로 업데이트.
print(updateList)

[120, 130, 140, 170, 140]
[120, 130, 150, 170, 140]
[120, 320, 470, 130, 140]

In [11]:
# 4) 리스트 값 삭제하기
updateList = [110,130,120,210,170,160,120,130,150,180,110]
updateList.remove(130)           # updateList에서 remove 명령어를 사용해 가장 앞에서 발견된 130을 삭제.
print(updateList)                # [110,120,210,170,160,120,130,150,180,110]을 출력.

[110, 120, 210, 170, 160, 120, 130, 150, 180, 110]

In [3]:
del updateList[3]               # updateList에서 del 명령어를 사용해 3+1번째 170을 삭제.
print(updateList)                # [110, 120, 210, 160, 120, 130, 150, 180, 110]을 출력.

[110, 120, 210, 160, 120, 130, 150, 180, 110]

In [4]:
# 5) 리스트 값 끄집어내기
updateList.pop()                # 맨 마지막 값 110을 반환 후 리스트에서 삭제한다.
print(updateList)               # [110, 120, 210, 160, 120, 130, 150, 180] 출력.

[110, 120, 210, 160, 120, 130, 150, 180]

In [5]:
print(updateList.pop(4))
# 4+1번째 값 120을 반환 후 리스트에서 삭제한다. 이 값 120을 출력.
# pop 함수는 값을 반환하기 때문에 print(.pop()) 형태로 사용 가능하다. remove, del 함수는 값을 반환하지 않고 삭제하기 때문에 불가능.
print(updateList)               # [110, 120, 210, 160, 130, 150, 180] 출력.

120
[110, 120, 210, 160, 130, 150, 180]

In [6]:
# 6) 리스트 구간 데이터 삭제하기
updateList = [110,120,150,130,210,510,610,320,170]
updateList[1:5] = []             # updateList에서 1+1번째 ~ 5+1번째 전까지 모두 삭제. 즉, 2~5번째 값 삭제.
print(updateList)                # [110,510,610,320,170]을 출력.

[110, 510, 610, 320, 170]

In [7]:
# 7) 리스트에 값 추가하기
functionList = [120,130,140,150]   # 4개의 숫자 값을 가진 리스트 생성.
functionList.append(100)
# functionList 리스트 마지막에 100이란 값을 뒤에 덧붙인다.
# append 명령어는 'functionList.append(object, /)' 구조로 인덱스 기능을 사용할 수 없다. 
print(functionList)                # [120, 130, 140, 150, 100]을 출력.

[120, 130, 140, 150, 100]

In [8]:
functionList.insert(3,200)
# 3+1번째 인덱스에 200이란 값을 삽입한다. 3번째가 아니라 3+1번째임에 유의한다.
# insert 명령어는 'functionList.insert(index, object, /)' 구조로 반드시 인덱스와 값이라는 2가지가 포함되어야 한다.
print(functionList)                # [120, 130, 140, 200, 150, 100]을 출력.

[120, 130, 140, 200, 150, 100]

In [9]:
functionList.extend([11,12])
# 리스트에 다른 리스트 [11,12]를 연장한다. append, insert와 달리 하나의 값이 아닌 리스트를 통째로 연장한다.
# extend 명령어는 리스트를 이어붙일 때 사용한다.
print(functionList)
functionList = functionList + [13,14]
# extend 명령어 대신 리스트 + 리스트는 같은 포맷이기 때문에 리스트 연산으로도 처리 가능하다.
print(functionList)

[120, 130, 140, 200, 150, 100, 11, 12]
[120, 130, 140, 200, 150, 100, 11, 12, 13, 14]

In [10]:
# 8) 리스트 정렬하기
functionList.sort()                  # 아무것도 입력하지 않을 경우 기본적으로 오름차순 정렬이 된다.   
print(functionList)
functionList.sort(reverse = False)   # 오름차순 정렬. 반드시 False로 입력한다. false로 입력하면 오류 발생.
print(functionList)
functionList.sort(reverse = True)    # 내림차순 정렬. 반드시 True로 입력한다. true로 입력하면 오류 발생.
print(functionList)

[11, 12, 13, 14, 100, 120, 130, 140, 150, 200]
[11, 12, 13, 14, 100, 120, 130, 140, 150, 200]
[200, 150, 140, 130, 120, 100, 14, 13, 12, 11]

In [11]:
# 9) 값으로 인덱스 가져오기
print(functionList.index(150))        # 150은 1+1번째에 있으니 인덱스는 1을 출력.

1

In [12]:
# 10) 리스트의 길이(length). 값의 개수 구하기.
print(len(functionList))   # len(obj, /) 형태로 Return the number of items in a container. 즉, 값의 갯수를 반환.

10

In [13]:
# 11) 리스트에서 특정 값의 개수 구하기.
functionList = [11,13,21,46,22,13,23,64]
print(functionList.count(13))

2

In [1]:
# 12) 그 외 자주 사용되는 함수
functionList = [11,13,21,46,22,13,23,64]
print(min(functionList))                          # 리스트 최솟값 11을 출력.
print(max(functionList))                          # 리스트 최댓값 64를 출력.
print(sum(functionList))                          # 리스트 합 213을 출력.
average = sum(functionList) / len(functionList)   # average를 리스트 합(213) / 리스트 개수(8) = 62.625
print(average)                                    # average 값 26.625를 출력.

11
64
213
26.625

4. 튜플(Tuple) : 생성, 삭제는 가능하지만 수정은 불가능한 집합

In [1]:
# 빈 튜플 생성
emptyTuple = (0)
# 시간정보 생성
timeTuple = (1,2,3,4,5,6)

In [2]:
# 1) 튜플 인덱싱
timeTuple = (1,2,3,4,5,6)

print(timeTuple[1])        # timeTurple 튜플에서 1+1번째 값 2를 출력.
print(timeTuple[3])        # timeTurple 튜플에서 3+1번째 값 4를 출력.
print(timeTuple[0:3])      # timeTurple 튜플에서 0+1번째 ~ 3+1번째 값 (1,2,3)을 출력.

2
4
(1, 2, 3)

In [3]:
# 2) 튜플의 길이(length). 값의 개수 구하기.
print(len(timeTuple))

6

5. 딕셔너리(Dictionary) : {Key:Value} 형태로 특정 Key를 요청하면 Value를 불러올 수 있는 집합

In [1]:
# 딕셔너리 생성
dic = {"name":"sec",
       "id":"300000",
       "address":"suwon"}
print(dic)               # 딕셔너리 전체를 출력.
print(dic["name"])
# 딕셔너리에서 Key값과 Value값은 1:1로 대응한다.
# 딕셔너리에서 특정 Key값을 호출하면 대응되는 Value값이 반환된다.
# 딕셔너리에서 "name" Key값을 호출했으니 대응되는 Value값 "sec"을 반환한다.
# 리스트와 차이점은 리스트에서는 특정 값을 호출할 때 n번째 값을 호출하는 방식이지만, 딕셔너리에선 Key값 자체를 호출한다.

{'name': 'sec', 'id': '300000', 'address': 'suwon'}
sec

In [2]:
# 딕셔너리 Key Value 추가/변경
dic["name"] = "sec2"   # 기존 Key 리스트 값이 있기 때문에 업데이트한다.
dic["stock"] = "yes"   # 기존 Key 리스트 값이 없기 때문에 추가한다.
print(dic)
print(dic["stock"])

{'name': 'sec2', 'id': '300000', 'address': 'suwon', 'stock': 'yes'}
yes

In [3]:
# 딕셔너리 값 삭제하기
del dic["id"]             # "id" Key 값과 그에 대응하는 Value 값을 딕셔너리에서 삭제한다.
print(dic)                # {'name': 'sec2', 'address': 'suwon', 'stock': 'yes'} 출력.

{'name': 'sec2', 'address': 'suwon', 'stock': 'yes'}

In [4]:
# 딕셔너리 값 끄집어내기
print(dic.pop("name"))    # "name" Key 값을 호출하며 이에 대응되는 "sec2"값을 반환 후 딕셔너리에서 삭제한다.
print(dic)                # {'address': 'suwon', 'stock': 'yes'}출력.

sec2
{'address': 'suwon', 'stock': 'yes'}

In [14]:
# 딕셔너리 안에 리스트를 넣을 수도 있다.
testDict = {"REGIONID" : ["A01","A02"],
           "QTY" : [1,2]}

In [15]:
print(testDict["REGIONID"])
print(testDict["QTY"])

['A01', 'A02']
[1, 2]

### 리스트 번호 쉽게 계산하기

In [1]:
testList = [11, 12, 13, 14, 100, 120, 130, 140, 150, 200]    # Length = 10 인 리스트를 하나 생성

In [2]:
# [m:n]    m+1번째부터 n+1번째 전까지니까, m+1번째부터 n번째까지다.
print(testList[3:7])          # 호출에서 리스트로 갈 때는 앞에만 +1 하여 리스트의 4~7번째 [14, 100, 120, 130]를 호출.
# 리스트에서 5~8번째 값[100, 120, 130, 140]을 출력하려면 앞에만 -1 하여 리스트에서 호출로 [4:8]을 보냄.
print(testList[4:8])

# 이를 정리하면
# 호출 -> 리스트로 갈 때는 [m:n] 이 m+1 ~ n 이 된다. 즉, [3:7]를 호출하면 앞에 +1 하여 리스트에서 4~7번째 리스트를 호출.
# 리스트 -> 호출로 갈 때는 m' ~ n' 이 [m-1:n] 이 된다. 즉, 리스트에서 5~8번째를 호출하려면 앞에 -1 하여 [4:8]를 호출.

[14, 100, 120, 130]
[100, 120, 130, 140]

### 반복문

for문은 범위가 주어지고, 그 범위가 끝날 때까지 구문을 반복 후 종료.<br>
while문은 특정 조건이 주어지고, 참인 경우에만 구문을 반복. 거짓인 경우는 종료.

for문

In [5]:
tvList = ["UN40EN001","UN40EN002",\
          "UN40EN003","UN40EN004"]

preFix = "LEDTV_"

for i in range(0,4,):          # range(start, stop[, step]) 구조로 step은 비워둘 경우 기본값 1이 된다.
                               # 반복문은 반드시 : 을 붙여야 작동한다.
                               # 또한 작동시킬 구문은 반드시 탭 들여쓰기를 한다.
                               # 리스트의 1~4번째 값을 호출로 보내니까 앞에를 -1 하여 [0:4]가 된다.
    tvList[i] = preFix + tvList[i]
    
print(tvList)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [4]:
tvList = ["UN40EN001","UN40EN002","UN40EN003","UN40EN004"]

preFix = "LEDTV_"

for i in range(0,len(tvList),):   # len 함수를 이용하여 자동으로 마지막 값을 입력.
    tvList[i] = preFix + tvList[i]
    
print(tvList)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [8]:
TestList = ["한국","A01","프랑스","A02","독일","A03"]

In [9]:
for i in range(0,4,):
    A_count = TestList[i].count("A")
    if A_count > 0:
        print("i =",i,"일 때")
        print(TestList[i])
        print("del")
        del TestList[i]
        print("TestList =",TestList)
    else:
        print("i =",i,"일 때")
        print(TestList[i])
        print("pass")
        print("TestList =",TestList)        
print("\n최종결과 TestList =",TestList)

i = 0 일 때
한국
pass
TestList = ['한국', 'A01', '프랑스', 'A02', '독일', 'A03']
i = 1 일 때
A01
del
TestList = ['한국', '프랑스', 'A02', '독일', 'A03']
i = 2 일 때
A02
del
TestList = ['한국', '프랑스', '독일', 'A03']
i = 3 일 때
A03
del
TestList = ['한국', '프랑스', '독일']

최종결과 TestList = ['한국', '프랑스', '독일']


for문을 사용할 때 range 함수에서 범위를 리스트 호출하던 것이랑 헷갈릴 수 있어 주의해야한다.
for i in range(0,4,) 가 얼핏 보면 리스트 호출처럼 0+1 ~ 4+1번째 전. 1~4번째인 것으로 헷갈릴 수 있으나 이는 큰 오류다.
위 for문에서 i는 단지 변수값을 준 것이고 그 i라는 변수의 범위는 range 함수에 의해 정해진다.
따라서 이를 혼동하지 않으려면 반드시 range 함수에 대한 이해가 필요하다.

In [6]:
# range(start, stop[, step])
# 구조로 range(a,b,c)는 a에서 시작해 b이상이면 멈춰라. 등차는 c다.
# range(a,b,c) = cn + a >= b 면 멈춰라.
# 즉, a <= cn + a < b

In [1]:
for i in range(0,4,):   # i = 0 에서 시작해 4 이상 나오면 멈춰라. +1씩 증가시켜라.
    print(i)            # 0,1,2,3,4 => 정지 버림. 결과는 0,1,2,3

0
1
2
3

In [2]:
for i in range(1,4,):   # i = 1 에서 시작해 4 이상 나오면 멈춰라. +1씩 증가시켜라.
    print(i)            # 1,2,3,4 => 정지 버림. 결과는 1,2,3

1
2
3

In [3]:
for i in range(2,5,):   # i = 2 에서 시작해 5 이상 나오면 멈춰라. +1씩 증가시켜라.
    print(i)            # 2,3,4,5 => 정비 버림. 결과는 2,3,4

2
3
4

In [4]:
for i in range(1,7,2):  # i = 1 에서 시작해 7 이상 나오면 멈춰라. +2씩 증가시켜라.
    print(i)            # 1,3,5,7 => 정지 버림. 결과는 1,3,5

1
3
5

In [5]:
for i in range(1,8,2):  # i = 1 에서 시작해 8 이상 나오면 멈춰라. +2씩 증가시켜라.
    print(i)            # 1,3,5,7,9 => 정지 버림. 결과는 1,3,5,7

1
3
5
7

In [6]:
for i in range(1,7,3):  # i = 1 에서 시작해 7 이상 나오면 멈춰라. +3씩 증가시켜라.
    print(i)            # 1,4,7 => 정지 버림. 결과는 1,4

1
4

In [7]:
for i in range(1,8,3):  # i = 1 에서 시작해 8 이상 나오면 멈춰라. +3씩 증가시켜라.
    print(i)            # 1,3,7,11 => 정지 버림. 결과는 1,3,7

1
4
7

while문

In [3]:
tvList = ["UN40EN001","UN40EN002","UN40EN003","UN40EN004"]

preFix = "LEDTV_"

i = 0                                # 상수 i 를 정의. 리스트의 1번째부터 호출할거니까 -1 해서 0으로 보냄.
listLength = len(tvList)             # 리스트의 마지막까지 반복할거니까 리스트의 값의 개수를 정의.

while i < listLength:                # 조건을 정의. 반드시 : 을 붙이고 작동시킬 구문은 탭 들여쓰기를 한다.
    tvList[i] = preFix + tvList[i]
    i = i + 1

print(tvList)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

In [4]:
tvList = ["UN40EN001","UN40EN002","UN40EN003","UN40EN004"]

preFix = "LEDTV_"

i = 0

while i < len(tvList):                # for문에서와 마찬가지로 len 함수를 조건에서 바로 이용해도 된다.
    tvList[i] = preFix + tvList[i]
    i = i + 1

print(tvList)

['LEDTV_UN40EN001', 'LEDTV_UN40EN002', 'LEDTV_UN40EN003', 'LEDTV_UN40EN004']

### 조건문

if문

### 홀수값, 짝수값 뽑아내기

홀수값만 뽑아내기

In [1]:
TestList = ["한국","A01","프랑스","A02","독일","A03"]
TestList2 = []
TestList3 = []

In [2]:
# 반복문 사용하지 않기
print(TestList[0::2])

['한국', '프랑스', '독일']

In [3]:
# for문 사용하기
for i in range(0,len(TestList),2):
    TestList2.append(TestList[i])
print(TestList2)

['한국', '프랑스', '독일']

In [4]:
# while문 사용하기
i = 0
while i < len(TestList):   ## len 함수는 개수를 반환. 리스트의 index가 0에서 시작해 <= 가 아니라 < 를 넣어야 한다.
    TestList3.append(TestList[i])
    i += 2
print(TestList3)

['한국', '프랑스', '독일']

In [5]:
TestList = ["한국","A01","프랑스","A02","독일","A03","스페인"]
TestList2 = []
TestList3 = []

In [6]:
# 반복문 사용하지 않기
print(TestList[0::2])

['한국', '프랑스', '독일', '스페인']

In [7]:
# for문 사용하기
for i in range(0,len(TestList),2):
    TestList2.append(TestList[i])
print(TestList2)

['한국', '프랑스', '독일', '스페인']

In [8]:
# while문 사용하기
i = 0
while i < len(TestList):   ## len 함수는 개수를 반환. 리스트의 index가 0에서 시작해 <= 가 아니라 < 를 넣어야 한다.
    TestList3.append(TestList[i])
    i += 2
print(TestList3)

['한국', '프랑스', '독일', '스페인']

짝수값만 뽑아내기

In [9]:
TestList = ["한국","A01","프랑스","A02","독일","A03"]
TestList2 = []
TestList3 = []

In [10]:
# 반복문 사용하지 않기
print(TestList[1::2])

['A01', 'A02', 'A03']

In [11]:
# for문 사용하기
for i in range(1,len(TestList),2):
    TestList2.append(TestList[i])
print(TestList2)

['A01', 'A02', 'A03']

In [12]:
# while문 사용하기
i = 1
while i < len(TestList):   ## len 함수는 개수를 반환. 리스트의 index가 0에서 시작해 <= 가 아니라 < 를 넣어야 한다.
    TestList3.append(TestList[i])
    i += 2
print(TestList3)

['A01', 'A02', 'A03']

In [13]:
TestList = ["한국","A01","프랑스","A02","독일","A03","스페인"]
TestList2 = []
TestList3 = []

In [14]:
# 반복문 사용하지 않기
print(TestList[1::2])

['A01', 'A02', 'A03']

In [15]:
# for문 사용하기
for i in range(1,len(TestList),2):
    TestList2.append(TestList[i])
print(TestList2)

['A01', 'A02', 'A03']

In [16]:
# while문 사용하기
i = 1
while i < len(TestList):   ## len 함수는 개수를 반환. 리스트의 index가 0에서 시작해 <= 가 아니라 < 를 넣어야 한다.
    TestList3.append(TestList[i])
    i += 2
print(TestList3)

['A01', 'A02', 'A03']

### 1-1-b. 파이썬 프로그래밍 기초 (사용법 및 자료형) 3/23 수업본

In [1]:
import datetime   ## as 로 이름을 붙여주지 않아도 사용할 수 있다.
## datetime은 파이썬 내에서 시스템 현재 시간을 알려주는 모듈이다.

In [2]:
datetime.datetime.now()   ## datetime.datetime.now()는 통으로 외우자.

datetime.datetime(2020, 3, 24, 1, 8, 0, 577731)

In [1]:
import datetime as dt   ## import 가져와라 datetime 모듈을 as 로써 dt 라는 이름으로
## 이름을 붙여주면 코딩이 더 쉬워진다.

Init signature: dt.datetime(self, /, *args, **kwargs)
Docstring:     
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

In [2]:
dt.datetime.now()   # dt(datetime)모듈에서 datetime.now() 함수를 실행하라.

datetime.datetime(2020, 4, 1, 12, 39, 25, 587574)

In [8]:
dt.datetime.now().hour

12

In [7]:
dt.datetime.now().minute

40

In [12]:
currentDate = dt.datetime.now()    # 더 편하게 쓰기 위해서 dt.datetime.now() 전체를 currentDate로 정의한다.

In [13]:
currentDate.hour

13

In [11]:
currentDate.minute

41

In [21]:
answer = currentDate.hour + currentDate.minute
answer

25

In [7]:
type(answer)
type(currentDate.hour)
type(currentDate.minute)

int

### 실습 1. “SEC 20180212 250” 문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요.

In [1]:
## 1~3번째니까 앞애 -1 해서 [0:3], 5~11번째니까 앞에 -1 해서 [4:12], 13~번째니까 앞에 -1해서 [12:]로 일일히 끊어도 되지만
## 좀 더 세련되게 끊어보자.

In [2]:
stringData1 = "SEC 2018W28 250"   ## 구조를 보면 끊으려는 구간에 동일한 문자(" ")가 들어가있다!!

In [3]:
splitter = " "

In [4]:
answer1 = stringData1.split(splitter)   ## split(" ")로 해도 되지만 변수를 선언했으니 splitter를 넣자.

In [5]:
stock_name = answer1[0]
date = answer1[1]
value = answer1[2]
print(stock_name,date,value)

SEC 2018W28 250

### 실습 2. “Sec 2018W28 250” 문자열 생성 후 stock_name, date, value로 각각 의미하는 문자열을 생성하세요
(단 모두 대문자여야 하며, ‘W’를 삭제해야함)

In [1]:
## 두 가지 조건이 붙었다. 1) 대문자로 바꿔라. 2) 'W'를 삭제하라.

In [2]:
stringData2 = "Sec 2018W28 250"   ## 위에꺼를 응용하자.

In [3]:
splitter = " "

In [4]:
answer2 = stringData2.split(splitter)

In [5]:
stock_name = answer2[0].upper()
date = answer2[1].replace("W","")
value = answer2[2]
print(stock_name,date,value)

SEC 201828 250

실습 3. [120,150,300,500,1000,100,2000] 값에서 최소 최대 값을 뺀 평균을 average 이름의 변수에 담으세요.

In [1]:
testData = [120,150,300,500,1000,100,2000]

In [2]:
## 방법 1. 변수 선언 없이 풀기.

In [3]:
## 평균 = (전체합 - 최댓값합 - 최솟값합) / (전체개수 - 최댓값수 - 최솟값수)
## 수식을 보면 아 이런거구나 하고 알 수 있게 주석을 달아주는게 좋다.
average1 = (sum(testData) - max(testData)*testData.count(max(testData)) - min(testData)*testData.count(min(testData)))\
            / (len(testData) - testData.count(max(testData)) - testData.count(min(testData)))
average1

414.0

In [4]:
## 방법 2. 변수를 선언하고 풀기.

In [5]:
maximum = max(testData)
minimum = min(testData)
maximum_duplication = testData.count(maximum)
minimum_duplication = testData.count(minimum)

In [6]:
## 평균 = (전체합 - 최댓값합 - 최솟값합) / (전체개수 - 최댓값수 - 최솟값수)
average2 = (sum(testData) - maximum*maximum_duplication - minimum*minimum_duplication)\
            / (len(testData) - maximum_duplication - minimum_duplication)
average2

414.0

변수를 선언하면 메모리를 더 차지하고 느려지지만 가독성이 훨씬 뛰어나다. <br>
변수를 무분별하게 생성하는 것은 나쁘지만 조금 느려지더라도 어느정도 선언하고 가독성을 높이는게 더 좋다.

#### 나누기 연산은 분모가 0이 되는 경우를 고려하여 항상 조건문으로 분모가 0인 경우(if), 0이 아닌 경우(else)를 해야한다!!!