In [1]:
import pandas as pd
favorite = ['파이썬','자바','씨샵']
favorite2 = [1,2,3]

favorite_df = pd.DataFrame(favorite, columns=['언어'])
favorite_df2 = pd.DataFrame(favorite2, columns=['좋아하는순위'])

final = pd.concat([favorite_df, favorite_df2], axis = 1)
final

    언어  좋아하는순위
0  파이썬       1
1   자바       2
2   씨샵       3

In [4]:
import pandas as pd


math = ['70', '80', '60', '100','95']
english = ['85', '80', '90', '80','100']
history = ['70', '90','100', '90', '90']

math_df = pd.DataFrame(math, columns=["수학"])
english_df = pd.DataFrame(english, columns=["영어"])
history_df = pd.DataFrame(history, columns=["역사"])

total = pd.concat([math_df,english_df,history_df], axis =1)
total

    수학   영어   역사
0   70   85   70
1   80   80   90
2   60   90  100
3  100   80   90
4   95  100   90

In [7]:
import pandas as pd

country = ['한국','캐나다','프랑스','호주','독일']
mountain = ['설악산','백두산','한라산','에베레스트','안나푸르나']

country_df = pd.DataFrame(country, columns=['나라'])
mountain_df = pd.DataFrame(mountain, columns=['산'])

result = pd.concat([country_df,mountain_df], axis = 1)
result

    나라      산
0   한국    설악산
1  캐나다    백두산
2  프랑스    한라산
3   호주  에베레스트
4   독일  안나푸르나

### 딕셔너리 활용

In [1]:
turple1 = ("미국","LEDTV","01")
turple2 = ("미국","LEDTV","02")

dic = {turple1 : 2.5, turple2 : 1.2}

In [2]:
dic

{('미국', 'LEDTV', '01'): 2.5, ('미국', 'LEDTV', '02'): 1.2}

In [3]:
dic["미국","LEDTV","01"]

2.5

### dic = {"name":"sec","id":"300000","address":"suwon"} 에서 "id":"300000" 삭제하여 출력하세요.

In [5]:
dic = {"name":"sec","id":"300000","address":"suwon"}

In [7]:
del dic["id"]
dic

{'name': 'sec', 'address': 'suwon'}

### Pandas DataFrame : 행렬구조에 가장 많이 활용되는 자료구조 형태(파이썬의 엑셀)

In [8]:
import pandas as pd

In [18]:
# 딕셔너리를 활용한 데이터프레임 생성
data = {'name':['A고객','B고객','C고객','D고객'],'age':[27,40,33,29],'stock_age':[2,10,5,1]}
# 딕셔너리의 Key가 DataFrame의 row의 제목이 되고, 리스트 Value가 row의 값들이 되어 엑셀 시트가 만들어진다.

dataFrame = pd.DataFrame(data)
dataFrame

  name  age  stock_age
0  A고객   27          2
1  B고객   40         10
2  C고객   33          5
3  D고객   29          1

In [12]:
# 리스트를 활용한 데이터 분석을 위한 자료구조 생성
test = [10,100,1000,10000]
testDf = pd.DataFrame(test)
testDf

       0
0     10
1    100
2   1000
3  10000

In [46]:
# column 제목을 빼먹었을 경우 추가하기
testDf.columns = ['test']
testDf.rows = ['되나','되나2','되나3','되나4'] # row 제목은 못 적을까?
testDf

    test
0     10
1    100
2   1000
3  10000

In [25]:
testDf = pd.DataFrame(test, columns=['rename'])
testDf

   rename
0      10
1     100
2    1000
3   10000

In [31]:
# 2개의 리스트를 데이터프레임으로 바꾸고 하나로 합치기
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']

# 각각의 리스트를 데이터프레임으로 바꾸기
date_df = pd.DataFrame(date, columns = ['date2'])
date2_df = pd.DataFrame(date2, columns = ['date23'])

In [32]:
print(date_df)
print(date2_df)

      date2
0  16.02.29
1  16.02.26
2  16.02.25
3  16.02.24
4  16.02.23
     date23
0  17.02.29
1  17.02.26
2  17.02.25
3  17.02.24
4  17.02.23

In [35]:
# 각각의 데이터프레임을 하나로 합치기
final = pd.concat([date_df,date2_df])
final

      date2    date23
0  16.02.29       NaN
1  16.02.26       NaN
2  16.02.25       NaN
3  16.02.24       NaN
4  16.02.23       NaN
0       NaN  17.02.29
1       NaN  17.02.26
2       NaN  17.02.25
3       NaN  17.02.24
4       NaN  17.02.23

In [36]:
final = pd.concat([date_df, date2_df], axis = 1)
final

      date2    date23
0  16.02.29  17.02.29
1  16.02.26  17.02.26
2  16.02.25  17.02.25
3  16.02.24  17.02.24
4  16.02.23  17.02.23

In [38]:
final = pd.concat([date_df, date2_df], axis = 0)
final

      date2    date23
0  16.02.29       NaN
1  16.02.26       NaN
2  16.02.25       NaN
3  16.02.24       NaN
4  16.02.23       NaN
0       NaN  17.02.29
1       NaN  17.02.26
2       NaN  17.02.25
3       NaN  17.02.24
4       NaN  17.02.23

In [39]:
final = pd.concat([date_df, date2_df], axis = 2)
final

ValueError: No axis named 2 for object type <class 'pandas.core.frame.DataFrame'>

### 리스트 3개 이상을 합치는거 해보기. 파이썬 패키지 부분 공부하기.

In [40]:
# 3개의 리스트를 데이터프레임으로 바꾸고 하나로 합치기
date = ['16.02.29', '16.02.26', '16.02.25', '16.02.24', '16.02.23']
date2 = ['17.02.29', '17.02.26', '17.02.25', '17.02.24', '17.02.23']
date3 = ['18.02.14', '18.03.05', '18.04.09', '18.09.11', '18.12.31']

# 각각의 리스트를 데이터프레임으로 바꾸기
date_df = pd.DataFrame(date, columns = ['16년도'])
date2_df = pd.DataFrame(date2, columns = ['17년도'])
date3_df = pd.DataFrame(date3, columns = ['18년도'])

In [6]:
# 내용 : 기준이 되는 년도주차 정보와 과거로 돌아갈 주차를 입력 받아 계산한다.
# 파라미터 : fromWeeks, weeksAgo (int 타입, str 타입 무관하게 입력 받음)
# 목적 : i.e (201704,20) 2017년 4주차로부터 20주 전은 언제인가를 계산할 수 있다.

# Step 0: isoweek 모듈을 불러온다.
# Step 1: 입력 받은 년도주차 정보와 과거주 정보를 문자 캐스팅 해서 분리한 다음 계산을 위해 다시 int 캐스팅.
# Step 2: 과거 년도로 돌아가지 않는 경우를 분리하여 계산.
# Step 3: 주차 자릿수가 1자리로 줄어드는 경우에 대한 보정 로직.
# Step 4: 과거 년도로 돌아가는 경우를 분리하여 계산.
# Step 5: 1년 더 과거로 가야할 지 계산. 조건을 만족하지 않을 때까지 1년씩 과거로 이동.
# Step 6: 위 Step 3.에서 했던 보정을 동일하게 적용하여 결과 산출.
# Step 7: 최종 결과 result 값을 반환.

# cf. Step 3 은 if문 없이 str(inputWeeks - weeksAgo).zfill(2)로 자릿수 보정 가능. Step 7도 마찬가지.

def preWeek(fromWeek,weeksAgo):
    #fromWeek = 201720
    #weeksAgo = 100 # 10이면 201710, 20이면 201652, 21이면 201651, 71이면 201601, 72면 201553, 124면 201501
                    # 125면 201452, 176이면 201401, 177이면 201352, 228이면 201301, 229면 201252, 1000이면 199812
                    # 가 나오면 된다.

    # Step 0. isoweek 모듈을 불러온다.
    from isoweek import Week
    # Step 1. 년도, 주차 분리를 위해 문자 캐스팅 해서 분리한 다음 모든 변수 int 캐스팅
    inputYear = int(str(fromWeek)[:4])
    inputWeeks = int(str(fromWeek)[4:])
    weeksAgo = int(weeksAgo)
    maxWeeks = Week.last_week_of_year(inputYear).week

    # Step 2. 기준 주차 > 과거로 돌아가려는 주 인가? (년도가 바뀌지 않는 경우임.)
    if inputWeeks - weeksAgo > 0:
        # Step 3. (기준 주차 - 과거 주) >= 10이면 연도와 (기준 주차 - 과거 주)를 문자열 캐스팅 한 다음 더한다.
        if inputWeeks - weeksAgo >= 10:
            result = str(inputYear) + str(inputWeeks - weeksAgo)
        else: # Step 3.1 계산한 주차가 한자리수로 작아질 경우 앞에 0을 붙여서 보정한다.
            result = str(inputYear) + "0" + str(inputWeeks - weeksAgo)

    # Step 4. 과거 년도로 가는 경우.
    else:
        remainWeeks = weeksAgo - inputWeeks    # 마이너스 인덱싱 타임머신 여행할 횟수 계산.
        inputYear -= 1    # inputWeeks만큼 빼고 1년 전으로 이동했으니 -1년을 해주고 시작.
        maxWeeks = Week.last_week_of_year(inputYear).week    # 해당 년도에 주차가 몇이나 되는지 확인.

        while remainWeeks >= maxWeeks:   # Step 5. 과거로 돌아갈 횟수가 해당 년도 주차보다 더 크다면 1년 더 과거로 이동.
            remainWeeks -= maxWeeks
            inputYear -= 1
            maxWeeks = Week.last_week_of_year(inputYear).week
        else:
            pass

        maxWeeks -= remainWeeks    # 과거로 이동이 끝난 주차가 계산됨.

        # Step 6. Step 3.1 에서 했던 주차 자릿수 보정을 동일하게 해준다.
        if maxWeeks >= 10:
                result = str(inputYear) + str(maxWeeks)
        else:
            result = str(inputYear) + "0" + str(maxWeeks)
    
    # Step 7. 최종 결과 반환
    return result

In [7]:
preWeek(201720,140)

'201437'

In [23]:
preWeek(201720,20)

NameError: name 'ragne' is not defined

In [13]:
preWeek(201720,71)

inputYear 2016
maxWeeks 52
현재주차 1
remainWeeks 51

'201601'

In [14]:
preWeek(201720,72)

inputYear 2016
maxWeeks 52
현재주차 0
remainWeeks 52

'201600'

In [15]:
preWeek(201720,73)

inputYear 2016
maxWeeks 52
현재주차 -1
remainWeeks 53

'20160-1'

In [16]:
preWeek(201720,74)

inputYear 2016
maxWeeks 52
현재주차 -2
remainWeeks 54

inputYear 2015
maxWeeks 53
remainWeeks 1

'201552'

In [17]:
preWeek(201720,100)

inputYear 2016
maxWeeks 52
현재주차 -28
remainWeeks 80

inputYear 2015
maxWeeks 53
remainWeeks 27

'201526'

In [35]:
from isoweek import Week

In [100]:
fromWeek = 201720
weeksAgo = 1000

In [119]:
# 내용 : 기준이 되는 년도주차 정보와 과거로 돌아갈 주차를 입력 받아 계산한다.
# 파라미터 : fromWeeks, weeksAgo (int 타입, str 타입 무관하게 입력 받음)
# 목적 : i.e (201704,20) 2017년 4주차로부터 20주 전은 언제인가를 계산할 수 있다.

# Step 0: isoweek 모듈을 불러온다.
# Step 1: 입력 받은 년도주차 정보와 과거주 정보를 문자 캐스팅 해서 분리한 다음 계산을 위해 다시 int 캐스팅.
# Step 2: 과거 년도로 돌아가지 않는 경우를 분리하여 계산.
# Step 3: 주차 자릿수가 1자리로 줄어드는 경우에 대한 보정 로직.
# Step 4: 과거 년도로 돌아가는 경우를 분리하여 계산.
# Step 5: 1년 더 과거로 가야할 지 계산. 조건을 만족하지 않을 때까지 1년씩 과거로 이동.
# Step 6: 위 Step 3.에서 했던 보정을 동일하게 적용하여 결과 산출.
# Step 7: 최종 결과 result 값을 반환.

# cf. Step 3 은 if문 없이 str(inputWeeks - weeksAgo).zfill(2)로 자릿수 보정 가능. Step 7도 마찬가지.

def preWeek(fromWeek,weeksAgo):
    #fromWeek = 201720
    #weeksAgo = 100 # 10이면 201710, 20이면 201652, 21이면 201651, 71이면 201601, 72면 201553, 124면 201501
                    # 125면 201452, 176이면 201401, 177이면 201352, 228이면 201301, 229면 201252, 1000이면 199812
                    # 가 나오면 된다.

    # Step 0. isoweek 모듈을 불러온다.
    from isoweek import Week
    # Step 1. 년도, 주차 분리를 위해 문자 캐스팅 해서 분리한 다음 모든 변수 int 캐스팅
    inputYear = int(str(fromWeek)[:4])
    inputWeeks = int(str(fromWeek)[4:])
    weeksAgo = int(weeksAgo)
    maxWeeks = Week.last_week_of_year(inputYear).week

    # Step 2. 기준 주차 > 과거로 돌아가려는 주 인가? (년도가 바뀌지 않는 경우임.)
    if inputWeeks - weeksAgo > 0:
        # Step 3. (기준 주차 - 과거 주) >= 10이면 연도와 (기준 주차 - 과거 주)를 문자열 캐스팅 한 다음 더한다.
        if inputWeeks - weeksAgo >= 10:
            result = str(inputYear) + str(inputWeeks - weeksAgo)
        else: # Step 3.1 계산한 주차가 한자리수로 작아질 경우 앞에 0을 붙여서 보정한다.
            result = str(inputYear) + "0" + str(inputWeeks - weeksAgo)

    # Step 4. 과거 년도로 가는 경우.
    else:
        remainWeeks = weeksAgo - inputWeeks    # 마이너스 인덱싱 타임머신 여행할 횟수 계산.
        inputYear -= 1    # inputWeeks만큼 빼고 1년 전으로 이동했으니 -1년을 해주고 시작.
        maxWeeks = Week.last_week_of_year(inputYear).week    # 해당 년도에 주차가 몇이나 되는지 확인.

        while remainWeeks >= maxWeeks:   # Step 5. 과거로 돌아갈 횟수가 해당 년도 주차보다 더 크다면 1년 더 과거로 이동.
            remainWeeks -= maxWeeks
            inputYear -= 1
            maxWeeks = Week.last_week_of_year(inputYear).week
        else:
            pass

        maxWeeks -= remainWeeks    # 과거로 이동이 끝난 주차가 계산됨.

        # Step 6. Step 3.1 에서 했던 주차 자릿수 보정을 동일하게 해준다.
        if maxWeeks >= 10:
                result = str(inputYear) + str(maxWeeks)
        else:
            result = str(inputYear) + "0" + str(maxWeeks)
    
    # Step 7. 최종 결과 반환
    return result

In [120]:
preWeek(201720,1000)

'199812'

In [207]:
remainWeeks = weeksAgo - inputWeeks
remainWeeks

105

In [208]:
inputYear -= 1
inputYear

2016

In [209]:
maxWeeks

52

In [210]:
remainWeeks >= maxWeeks

True

In [211]:
while remainWeeks >= maxWeeks:
    if maxWeeks - remainWeeks <= 0 :
        remainWeeks -= maxWeeks
        inputYear -= 1
        maxWeeks = Week.last_week_of_year(inputYear).week
    else:
        pass
maxWeeks -= remainWeeks

In [212]:
inputYear

2014

In [213]:
maxWeeks

52

In [3]:
# 내용 : 기준이 되는 년도주차 정보와 과거로 돌아갈 주차를 입력 받아 계산한다.
# 파라미터 : fromWeeks, weeksAgo (int 타입, str 타입 무관하게 입력 받음)
# 목적 : i.e (201704,20) 2017년 4주차로부터 20주 전은 언제인가를 계산할 수 있다.

# Step 0: isoweek 모듈을 불러온다.
# Step 1: 입력 받은 년도주차 정보와 과거주 정보를 문자 캐스팅 해서 분리한 다음 계산을 위해 다시 int 캐스팅.
# Step 2: 과거 년도로 돌아가지 않는 경우를 분리하여 계산.
# Step 3: 주차 자릿수가 1자리로 줄어드는 경우에 대한 보정 로직.
# Step 4: 과거 년도로 돌아가는 경우를 분리하여 계산.
# Step 5: 1년 더 과거로 가야할 지 계산. 조건을 만족하지 않을 때까지 1년씩 과거로 이동.
# Step 6: 위 Step 3.에서 했던 보정을 동일하게 적용하여 결과 산출.
# Step 7: 최종 결과 result 값을 반환.

# cf. Step 3 은 if문 없이 str(inputWeeks - weeksAgo).zfill(2)로 자릿수 보정 가능. Step 7도 마찬가지.

def preWeek(fromWeek,weeksAgo):
    #fromWeek = 201720
    #weeksAgo = 100 # 10이면 201710, 20이면 201652, 21이면 201651, 71이면 201601, 72면 201553, 124면 201501
                    # 125면 201452, 176이면 201401, 177이면 201352, 228이면 201301, 229면 201252, 1000이면 199812
                    # 가 나오면 된다.

    # Step 0. isoweek 모듈을 불러온다.
    from isoweek import Week
    # Step 1. 년도, 주차 분리를 위해 문자 캐스팅 해서 분리한 다음 모든 변수 int 캐스팅
    inputYear = int(str(fromWeek)[:4])
    inputWeeks = int(str(fromWeek)[4:])
    weeksAgo = int(weeksAgo)

    # Step 2. 기준 주차 > 과거로 돌아가려는 주 (년도가 바뀌지 않는 경우임.)
    if inputWeeks - weeksAgo > 0:
        # Step 3. (기준 주차 - 과거 주) >= 10이면 연도와 (기준 주차 - 과거 주)를 문자열 캐스팅 한 다음 더한다.
        if inputWeeks - weeksAgo >= 10:
            result = str(inputYear) + str(inputWeeks - weeksAgo)
        else: # Step 3.1 계산한 주차가 한자리수로 작아질 경우 앞에 0을 붙여서 보정한다.
            result = str(inputYear) + "0" + str(inputWeeks - weeksAgo)

    # Step 4. 과거 년도로 가는 경우.
    else:
        remainWeeks = weeksAgo - (inputWeeks - 1)    # 마이너스 인덱싱 타임머신 여행할 횟수 계산.
        inputYear -= 1    # inputWeeks만큼 빼고 1년 전으로 이동했으니 -1년을 해주고 시작.
        maxWeeks = Week.last_week_of_year(inputYear).week    # 해당 년도에 주차가 몇이나 되는지 확인.

        while remainWeeks >= maxWeeks:   # Step 5. 과거로 돌아갈 횟수가 해당 년도 주차보다 크다면 1년씩 반복해 과거로 이동.
            remainWeeks -= maxWeeks
            inputYear -= 1
            maxWeeks = Week.last_week_of_year(inputYear).week
        else:
            pass

        maxWeeks -= remainWeeks    # 과거로 이동이 끝난 주차가 계산됨.

        # Step 6. Step 3.1 에서 했던 주차 자릿수 보정을 동일하게 해준다.
        if maxWeeks >= 10:
                result = str(inputYear) + str(maxWeeks + 1)
        else:
            result = str(inputYear) + "0" + str(maxWeeks + 1)
    
    # Step 7. 최종 결과 반환
    return result

In [7]:
preWeek(201720,1000)

'199812'

In [2]:
# 출력 결과 저장할 리스트
outBuffer = []

# 공백으로 초기화
for x in range(48):
    temList = []
    for y in range(48):
        temList.append(" ")
    outBuffer.append(temList)

def small_star(posX, posY):
    for x in range(5):
        for y in range(5):
            if x == 2 and y == 0:
                outBuffer[posX + x][posY + y] = "*"
            elif y == 2 and x % 2 == 1:
                outBuffer[posX + x][posY + y] = "*"
            elif y == 4:
                outBuffer[posX + x][posY + y] = "*"

def medium_star(posX, posY):
    small_star(posX + 3, posY)
    small_star(posX, posY + 6)
    small_star(posX + 6, posY + 6)
    
def large_star(posX, posY):
    medium_star(posX + 6, posY)
    medium_star(posX, posY + 12)
    medium_star(posX + 12, posY + 12)
    
def print_buffer(buffer):
    for x in range(len(buffer)):
        for y in range(len(buffer)):
            print(buffer[y][x], end = "")
        print("")

large_star(12, 0)
large_star(0, 24)
large_star(24, 24)
print_buffer(outBuffer)

                       *

                      * *

                     *****

                    *     *

                   * *   * *

                  ***** *****

                 *           *

                * *         * *

               *****       *****

              *     *     *     *

             * *   * *   * *   * *

            ***** ***** ***** *****

           *                       *

          * *                     * *

         *****                   *****

        *     *                 *     *

       * *   * *               * *   * *

      ***** *****             ***** *****

     *           *           *           *

    * *         * *         * *         * *

   *****       *****       *****       *****

  *     *     *     *     *     *     *     *

 * *   * *   * *   * *   * *   * *   * *   * *

***** ***** ***** ***** ***** ***** ***** *****

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
def preWeek(yearWeek, preWeek):    # preWeek 이전 주차를 반환하는 함수
    from isoweek import Week
    yeardigit = 4  #만년 이후에는 자리수가 바뀔 수 있으니까...
    inputYear = int(str(yearWeek)[:yeardigit]) #년도만 잘라서 저장
    inputWeek = int(str(yearWeek)[yeardigit:]) #주차만 잘라서 저장
    resultWeek = inputWeek - preWeek           #현 주차 - 뒤로 갈 주차 계산결과
    
    
    while(resultWeek<=0):       # 주차가 0 이하라면
        inputYear = inputYear-1    # 년도가 하나 줄어듭니다
        calcWeek = Week.last_week_of_year(inputYear).week  #줄어든 년도의 총 주차수
        resultWeek = calcWeek + resultWeek 
        #총 주차수에 resultWeek 을 더해줍니다. (0 또는 음수일테니까)
        #더했는데도 0 또는 음수라면 양수가 될 때까지 반복됩니다.
    
    if(resultWeek<10):
        resultWeek = "0"+str(resultWeek) #1자리수면 앞에 0을 붙여줌
    
    result = str(inputYear)+str(resultWeek) #년도와 주차를 문자열로 더해서 출력
    
    return result

In [4]:
from isoweek import Week
currYear = 2017
Week.last_week_of_year(currYear).week

def preWeek(inputYW,gapWeek):
    inputYW = str(inputYW)
    currYear = inputYW[:4]      #월, 주 나누어 알아보기
    currWeek = inputYW[4:]
    gapWeek = int(gapWeek)
    
    resultWeek = int(currWeek) - gapWeek
    currYear = int(currYear)
    
    while(resultWeek <= 0):
        
        currYear -= 1
        preYearLastWeek = Week.last_week_of_year(currYear).week
        resultWeek += preYearLastWeek
        
    if (resultWeek < 10):
        answer = str(currYear)+"0"+str(resultWeek)
        
    else:
        answer = str(currYear)+str(resultWeek)
    return(answer)

In [5]:
preweek(201720,20)

'201652'