In [ ]:
위에 놓친 부분 따라하기

postgre data : ST0001 실적을 누적하고 있다.
mariadb data : ST0002 실적을 누적하고 있다.
파이썬에서 이 2개의 실적을 변수로 받은 후 병합해라.

pdata 에 ST0001을 넣는다.
mdata 에 ST0002를 넣는다.

pdata, mdata로 불러온 경우 다음과 같이 2개의 데이터를 병합 가능하다.
pd.concat([pdata, mdata], axis = 0) # pdata와 mdata를 위아래로 붙이겠다.

### 1. 라이브러리 선언 (복사하고 붙여넣기)
### 2. 엔진 생성 (복붙)
### 3. 데이터를 불러온다.
###    POSTGRE kopo_porduct_volume_st01 -> st01 변수
###    MARIADB kopo_product_volume_st02 -> st02 변수
### 4. 데이터를 병합한다.
       # 데이터 병합 문법 (axis=0 : 위아래로, axis=1 : 좌우로)
       # pd.concat([st01, st02], axis=0)

In [4]:
import pandas as pd
import psycopg2                          # PostgreSQL을 사용 가능하게 해준다.
import pymysql                           # MariaDB를 사용 가능하게 해준다.
from sqlalchemy import create_engine     # DB 접속 엔진을 만들어준다.

In [10]:
# AWS PostgreSQL 데이터베이스 접속 엔진 생성.
aws_postgresql_url = 'postgresql://haiteam:haiteam@www.hadoopkorea.com:5432/postgres'
engine_postgresql = create_engine(aws_postgresql_url)

# AWS MariaDB 데이터베이스 접속 엔진 생성.
aws_mariadb_url = 'mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo'
engine_mariadb = create_engine(aws_mariadb_url)

In [14]:
# PostgreSQL에서 st01 불러오기.
db_st01 = "kopo_product_volume_st01"
pdata = pd.read_sql_table(table_name=db_st01, con=engine_postgresql)
pdata

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0001    201418  671464
2        A01       ST0001    201413  470040
3        A01       ST0001    201411  524787
4        A01       ST0001    201416  764927
..       ...          ...       ...     ...
128      A01       ST0001    201609  635412
129      A01       ST0001    201616  658270
130      A01       ST0001    201614  739977
131      A01       ST0001    201641  746061
132      A01       ST0001    201420  645626

[133 rows x 4 columns]

In [16]:
# MariaDB에서 st02 불러오기.
db_st02 = "kopo_product_volume_st02"
mdata = pd.read_sql_table(table_name=db_st02, con=engine_mariadb)
mdata

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0002    201415  128999
1        A01       ST0002    201418  134467
2        A01       ST0002    201413  140297
3        A01       ST0002    201411  145509
4        A01       ST0002    201416  140313
..       ...          ...       ...     ...
127      A01       ST0002    201616  137927
128      A01       ST0002    201609  154149
129      A01       ST0002    201614  148835
130      A01       ST0002    201412  151750
131      A01       ST0002    201420  125863

[132 rows x 4 columns]

In [17]:
# 불러온 2개의 테이블을 concat으로 합치기.
sumData = pd.concat([pdata, mdata], axis = 0)
sumData

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0001    201418  671464
2        A01       ST0001    201413  470040
3        A01       ST0001    201411  524787
4        A01       ST0001    201416  764927
..       ...          ...       ...     ...
127      A01       ST0002    201616  137927
128      A01       ST0002    201609  154149
129      A01       ST0002    201614  148835
130      A01       ST0002    201412  151750
131      A01       ST0002    201420  125863

[265 rows x 4 columns]

In [19]:
# 로컬에 csv 파일로 저장하기.
sumData.to_csv("./sumData.csv", index = False)

In [20]:
# 한솔씨꺼
# 1. 라이브러리 선언
import pandas as pd                   # 활용 라이브러리 (pandas)
import psycopg2                       # postgreSQL 접속을 위한 라이브러리 
import pymysql                        # mariadb 접속을 위한 라이브러리
from sqlalchemy import create_engine  # 데이터베이스 엔진 생성

# 2. 엔진생성
engine_postgres = create_engine('postgresql://haiteam:haiteam@www.hadoopkorea.com:5432/postgres')
engine_mariadb = create_engine('mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo') 


# postgre date : ST0001 실적을 누적하고 있다.
# mariadb date : ST0002 실적을 누적하고 있다.

# 3. 데이터 불러오기 from postgresql
pdata = pd.read_sql_query("select * from kopo_product_volume_st01", engine_postgres)
pdata.head()

# 4. 데이터 불러오기 from mariadb
mdata = pd.read_sql_query("select * from kopo_product_volume_st02", engine_mariadb)
mdata.head()

# 5. 데이터 병합
answer = pd.concat([pdata, mdata], axis = 0)

# 6. 결과 출력
answer

# 7. csv 형태로 내 작업폴더에 저장
answer.to_csv("./answer.csv", index=False)

In [ ]:
# 주신이씨꺼
import pandas as pd
import psycopg2
import pymysql
from sqlalchemy import create_engine 

# postgre data 엔진
engine = create_engine('postgresql://haiteam:haiteam@www.hadoopkorea.com:5432/postgres') 

# ST0001 실적데이터 불러오기
selloutTable_st01 = "kopo_product_volume_st01"
st01_Data = pd.read_sql_table(table_name = selloutTable_st01, con=engine)

# mariadb data 엔진
engine2 = create_engine('mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo')

# ST0002 실적데이터 불러오기
selloutTable_st02 = "kopo_product_volume_st02"
st02_Data = pd.read_sql_table(table_name = selloutTable_st02, con=engine2)

#데이터 병합하기
finalData = pd.concat([st01_Data,st02_Data], axis = 0)
finalData

In [ ]:
# 김민석씨꺼
import pandas as pd
import psycopg2
import pymysql
from sqlalchemy import create_engine

def sql_Reader(URL, query):
    engine=create_engine(URL)
    dataFrame=pd.read_sql_query(query, engine)
    return dataFrame
#URL, query를 입력하면 데이터프레임으로 돌려주는 함수


postgres_URL = "postgresql+psycopg2://haiteam:haiteam@www.hadoopkorea.com:5432/postgres"
mariadb_URL = "mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo"
#접속 URL

postgres_query = "SELECT * FROM kopo_product_volume_st01"
mariadb_query = "SELECT * FROM kopo_product_volume_st02"
# 쿼리문

pData = sql_Reader(postgres_URL, postgres_query)
mData = sql_Reader(mariadb_URL, mariadb_query)
# 함수로 읽어와서 데이터프레임에 저장

pData.columns=["REGIONID", "PRODUCTGROUP", "YEARWEEK", "VOLUME"]
#컬럼명이 맞지 않길래...

answer=pd.concat([pData, mData], axis=0)
#데이터프레임 합치기

answer

In [ ]:
##라이브러리 불러오기

import pandas as pd
import psycopg2
import pymysql
from sqlalchemy import create_engine 

##포스트그래 데이터 다운
databaseURL1 = "postgresql://haiteam:haiteam@www.hadoopkorea.com:5432/postgres"
engine1= create_engine(databaseURL1)

#쿼리 부르기
query1 = "SELECT * FROM kopo_product_volume_st01"

#pdata로 받기
pdata = pd.read_sql_query(query1, engine1)
#데이터 확인
pdata

##마리아 디비 데이터 다운
databaseURL2 = "mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo"
engine2= create_engine(databaseURL2)
#쿼리 부르기
query2 = "SELECT * FROM kopo_product_volume_st02"
#mdata로 받기
mdata = pd.read_sql_query(query2, engine2)
#데이터 확인
mdata

#두 데이터 병합
answer = pd.concat([pdata, mdata], axis = 0)
print(answer)

# Beautifulsoup 활용 html 추출하기

## 1. 라이브러리 선언

In [1]:
import requests, bs4    # 비슷한 애들 끼리는 콤마(,)로 한 번에 선언해도 된다. requests : 웹페이지 긁어옴. bs4 : 파이썬의 IDE
import pandas as pd     # 얘도 한 번에 선언할 수는 있지만 그러면 가독성이 떨어진다.

## 2. 웹페이지 긁어오기

In [2]:
# Step 1. requests 모듈로 웹페이지 긁어와 저장하기.

spark_url = "https://www.sparkkorea.com/퀴즈"

response = requests.get(spark_url)    # requests 함수를 이용해 서버를 get(얻어낸다)!
response    # 200 -> 서버가 살았다. 404 -> 서버가 죽었다. 해당 서버 페이지 HTML을 전부 긁어오지만 출력하면 200, 404로만 보여주는 것 같다.

In [5]:
response.status_code    # 상태 코드 값을 보여줘. (위에서 respose를 통해 바로 결과를 볼 수 있기 때문에 생략해도 좋다.)

200

In [16]:
# response.text    # response를 텍스트로 담아! -> 그냥도 볼 수는 있지만 매우 지저분하게 보여준다.

In [15]:
# Step 2. bs4(BeautifulSoup) 모듈로 웹페이지를 예쁘게 담기.

spark_html = response.text    # spark_html이란 변수에 위에서 불러온 response를 text로 담아라.
spark_html_bs = bs4.BeautifulSoup(spark_html, "html.parser")    # spark_html에 대해서 "html.parser" 파싱하겠다. ("html.parser"는 안 써도 잘 돌아가긴 한다.)
# spark_html_bs라는 변수에 bs4(BeautifulSoup)모듈의 BeautifulSoup 함수를 이용해 예쁘게 담아라.
# 우리가 코드를 짤 때 IDE(이클립스, 아톰 등)을 사용하듯이 BeautifulSoup가 파이썬 내에서 코드를 예쁘게 보여준다.
# 앞으로 모든것은 bs4를 이용해 담은 이 'spark_html_bs'를 이용해 bs4의 다른 함수를 이용해 분석할거다.
# spark_html_bs

### 3. 긁어온 웹페이지 가지고 놀기

In [16]:
# 태그 중에서 첫 번째 a 태그만 가져와보자.

aTag = spark_html_bs.find(name = "a")    # spark_html_bs에서 이름이 "a"인 첫 번째 것을 찾아라.
aTag

In [17]:
# 모든 a 태그를 가져와보자.

aTags = spark_html_bs.find_all(name = "a")    # spark_html_bs에서 이름이 "a"인 것을 모두 찾아라. 'findAll'이랑 같다.
aTags    # 어? 동일한 형식이 반복되네? -> 리스트에 담을 수 있겠구나!

[<a class="skip-link screen-reader-text" href="#content">컨텐츠로 건너뛰기</a>,
 <a href="https://sparkkorea.com/" rel="home">
 					스파크 코리아				</a>,
 <a href="https://sparkkorea.com/%ec%9e%90%eb%a3%8c%ec%8b%a4/">자료실</a>,
 <a href="https://sparkkorea.com/%ec%84%a4%eb%ac%b8-2/">설문s</a>,
 <a aria-current="page" href="https://sparkkorea.com/%ed%80%b4%ec%a6%88/">퀴즈</a>,
 <a href="https://sparkkorea.com/%ed%85%8c%ec%8a%a4%ed%8a%b8/">테스트</a>,
 <a href="https://sparkkorea.com/%ec%84%a4%eb%ac%b8/">학생퀴즈</a>,
 <a href="#"> 설문 준비중 </a>,
 <a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>,
 <a class="share-twitter sd-button share-icon" data-shared="sharing-twitter-102" href="https://sparkkorea.com/%ed%80%b4%ec%a6%88/?share=twitter" rel="nofollow noopener noreferrer" target="_blank" title="트위터로 공유하기"><span>트위터</span></a>,
 <a class="share-facebook sd-button share-icon" data-shared="sharing-facebook-102" href="https://sparkkorea.com/%ed%80%b4%ec%a6%88/?share=facebook" rel="nofollow noopener noreferrer" target="_blank" title="페이스북에 공유하려면 클릭하세요."><span>Facebook</span></a>,
 <a class="sd-link-color"></a>,
 <a href="https://wordpress.com/?ref=footer_segment_business" rel="nofollow">A WordPress.com Website.</a>]

In [11]:
# div : 속성 (i.e. id, class, etc...) 별로 구역을 나눈다.
# "삐리리" : 속성명
divTags = bs.find(name = "div", attrs = {"class":"class_spark_quiz"})    # attrs : 파라미터
# div라는 이름을 찾는데 그 속성은 class고 속성값은 class_spark_quiz다. (수많은 div중 div class를 찾고 그 값이 class_spark_quiz를 찾아라.)
divTags

<div class="class_spark_quiz" id="id_spark_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>
<p></p>
<a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>
<p></p>
<a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>
<p></p>
<a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>
<p></p>
<a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>
<p></p>
<a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>
<p></p>
</div>

In [12]:
atags = divTags.find_all(name = "a")
atags

[<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>,
 <a href="https://forms.gle/G4TcXm3fKuHLHA6D6"> 6/13 Spark 기본과정 </a>,
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>,
 <a href="https://forms.gle/h8w5mZ4MNaPLCPbi6"> 6/18 Spark GroupBy 심화 </a>,
 <a href="https://forms.gle/q5yL6QHfueDLM5w27"> 6/25 Spark RDD 실전 분석 </a>,
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>]

In [13]:
print(atags[0],"\n",atags[2],"\n",atags[5])

<a href="https://forms.gle/Fw49w9GhWQChDcZm7"> 6/13 Spark 심화과정 </a>
 <a href="https://forms.gle/M8gr1kC2ubA3UDVp8"> 6/18 Spark [MAP_FILTER] </a>
 <a href="https://forms.gle/Gxb4y6LfVYiaLu4M7"> 6/27 Spark RDD 실전 분석2 </a>

In [14]:
tagTarget = atags[0]
tagTarget.text

' 6/13 Spark 심화과정 '

In [15]:
link = atags[0].attrs["href"]
title = atags[0].text
print(link, title)

https://forms.gle/Fw49w9GhWQChDcZm7  6/13 Spark 심화과정

In [21]:
linkList = []
titleList = []

In [22]:
atagLen = len(atags)

In [23]:
for i in range(0,atagLen,):
    linkList.append(atags[i].attrs["href"])
    titleList.append(atags[i].text)

In [24]:
linkList

['https://forms.gle/Fw49w9GhWQChDcZm7',
 'https://forms.gle/G4TcXm3fKuHLHA6D6',
 'https://forms.gle/M8gr1kC2ubA3UDVp8',
 'https://forms.gle/h8w5mZ4MNaPLCPbi6',
 'https://forms.gle/q5yL6QHfueDLM5w27',
 'https://forms.gle/Gxb4y6LfVYiaLu4M7']

In [25]:
titleList

[' 6/13 Spark 심화과정 ',
 ' 6/13 Spark 기본과정 ',
 ' 6/18 Spark [MAP_FILTER] ',
 ' 6/18 Spark GroupBy 심화 ',
 ' 6/25 Spark RDD 실전 분석 ',
 ' 6/27 Spark RDD 실전 분석2 ']

In [26]:
pd.DataFrame(
    zip(linkList, titleList),
    columns = ["spark 퀴즈링크","spark 퀴즈타이틀"])

                            spark 퀴즈링크                spark 퀴즈타이틀
0  https://forms.gle/Fw49w9GhWQChDcZm7           6/13 Spark 심화과정
1  https://forms.gle/G4TcXm3fKuHLHA6D6           6/13 Spark 기본과정
2  https://forms.gle/M8gr1kC2ubA3UDVp8   6/18 Spark [MAP_FILTER]
3  https://forms.gle/h8w5mZ4MNaPLCPbi6     6/18 Spark GroupBy 심화
4  https://forms.gle/q5yL6QHfueDLM5w27      6/25 Spark RDD 실전 분석
5  https://forms.gle/Gxb4y6LfVYiaLu4M7     6/27 Spark RDD 실전 분석2

### 컬럼이 2개면 이렇게 하는게 가장 효율적이지만 컬럼이 100개면 리스트를 100개를 만들어야한다.
### 그러면 컬럼이 많을 경우는 어떻게 하는게 효율적일까?

In [28]:
pd.DataFrame(
[ ["링크1","타이틀1"],
  ["링크2","타이틀2"]]
)

     0     1
0  링크1  타이틀1
1  링크2  타이틀2

In [46]:
rowList = []

In [47]:
for i in range(0, atagLen,):

    eachTitle = atags[i].attrs["href"]
    eachText = atags[i].text
    
    rowList.append([eachTitle,eachText])

In [51]:
rowList_DF = pd.DataFrame(rowList)
rowList_DF

                                     0                          1
0  https://forms.gle/Fw49w9GhWQChDcZm7           6/13 Spark 심화과정
1  https://forms.gle/G4TcXm3fKuHLHA6D6           6/13 Spark 기본과정
2  https://forms.gle/M8gr1kC2ubA3UDVp8   6/18 Spark [MAP_FILTER]
3  https://forms.gle/h8w5mZ4MNaPLCPbi6     6/18 Spark GroupBy 심화
4  https://forms.gle/q5yL6QHfueDLM5w27      6/25 Spark RDD 실전 분석
5  https://forms.gle/Gxb4y6LfVYiaLu4M7     6/27 Spark RDD 실전 분석2

In [52]:
rowList_DF.columns = ['링크','타이틀']

In [53]:
rowList_DF

                                    링크                        타이틀
0  https://forms.gle/Fw49w9GhWQChDcZm7           6/13 Spark 심화과정
1  https://forms.gle/G4TcXm3fKuHLHA6D6           6/13 Spark 기본과정
2  https://forms.gle/M8gr1kC2ubA3UDVp8   6/18 Spark [MAP_FILTER]
3  https://forms.gle/h8w5mZ4MNaPLCPbi6     6/18 Spark GroupBy 심화
4  https://forms.gle/q5yL6QHfueDLM5w27      6/25 Spark RDD 실전 분석
5  https://forms.gle/Gxb4y6LfVYiaLu4M7     6/27 Spark RDD 실전 분석2

# 퀴즈제출

In [1]:
import requests, bs4    # 비슷한 애들 끼리는 콤마(,)로 한 번에 선언해도 된다.
import pandas as pd     # 얘도 한 번에 선언할 수는 있지만 그러면 가독성이 떨어진다.

resp = requests.get(url = "https://www.sparkkorea.com/퀴즈")    # requests 함수를 이용해 응답결과(get)을 얻어낸다.

html = resp.text    # html이란 변수에 위에서 불러온 resp를 text로 담아줘.
bs = bs4.BeautifulSoup(html, "html.parser")
# bs라는 변수에 bs4(BeautifulSoup)모듈에서 BeautifulSoup 함수를 이용해 html을 html.parser를 이용해 넣어라??

# div : 속성 (i.e. id, class, etc...)
# "삐리리" : 속성명
divTags = bs.find(name = "div", attrs = {"class":"class_spark_quiz"})    # attrs : 파라미터
# div라는 이름을 찾는데 그 속성은 class고 속성값은 class_spark_quiz다. (수많은 div중 div class를 찾고 그 값이 class_spark_quiz를 찾아라.)

# divTags에서 a라는 이름을 가진 태그만 찾아라.
atags = divTags.find_all(name = "a")

# a태그에서 링크와 타이틀을 분리해서 리스트에 담아라.
rowList = []
atagLen = len(atags)

for i in range(0, atagLen,):

    eachTitle = atags[i].attrs["href"]
    eachText = atags[i].text
    
    # rowList라는 큰 방 안에 각각의 i의 [eachTitle, eachText] 리스트 뭉터기를 계속 집어 넣어라.
    rowList.append([eachTitle,eachText])

#판다스를 이용해 데이터프레임으로 합치고 컬럼헤더를 정의해줘라.
rowList_DF = pd.DataFrame(rowList)
rowList_DF.columns = ['링크','타이틀']

rowList_DF

                                    링크                        타이틀
0  https://forms.gle/Fw49w9GhWQChDcZm7           6/13 Spark 심화과정
1  https://forms.gle/G4TcXm3fKuHLHA6D6           6/13 Spark 기본과정
2  https://forms.gle/M8gr1kC2ubA3UDVp8   6/18 Spark [MAP_FILTER]
3  https://forms.gle/h8w5mZ4MNaPLCPbi6     6/18 Spark GroupBy 심화
4  https://forms.gle/q5yL6QHfueDLM5w27      6/25 Spark RDD 실전 분석
5  https://forms.gle/Gxb4y6LfVYiaLu4M7     6/27 Spark RDD 실전 분석2

In [1]:
# requests 모듈의 get을 이용해 웹페이지 긁어오기.

import requests
url = "https://www.daum.net"
response = requests.get(url)    # 이제 response에는 다음이 들어가있다.
response.status_code            # 다음의 상태 코드를 보여줘.

200

In [2]:
# requests 모듈의 post를 이용해 웹페이지 긁어오기.

import requests
url = "https://www.daum.net"
response = requests.post(url)   # 이제 response에는 다음이 들어가있다.
response.status_code            # 다음의 상태 코드를 보여줘.

200