# P. 68???? 2. 분류모델 유형 실습

In [1]:
from sklearn import tree, linear_model, svm, neighbors

In [2]:
import pandas as pd

In [3]:
csData = pd.read_csv("../exampleCode/dataset/customer.csv")
csData.head()

     balance     stock    label
0   30000000  22500000   normal
1  280000000  48000000  diamond
2  300000000  40666666  diamond
3   54000000  28000000   normal
4  768000000  32000000      vip

In [6]:
csData.corr()

          deposit     stock
deposit  1.000000  0.015283
stock    0.015283  1.000000

In [ ]:
# minMaxNorm 정규화 (0~1사이로 값 변경)
def minMaxNorm(indata):
    maxValue = max(indata)
    minValue = min(indata)
    deNormValue = maxValue - minValue
    # 전체 양수로 변경
    plusData = indata - minValue
    # 최대값 기준 각 데이터 정규화
    outData = indata
    if deNormValue != 0 :
        outData = plusData / deNormValue
    else:
        pass
    return outData

csData["balance_norm"] = minMaxNorm(csData.balance)
csData["stock_norm"] = minMaxNorm(csData.stock)

csData.corr()