# 데이터프레임을 이용해 파일 불러오기 </br>
절대 경로 : 컴퓨터 내 경로 그 자체. DB가 고정된 장소에 있다면 활용하기 좋다. </br>
상대 경로 : ipynb를 기준으로한다. "./" 같은 폴더, "../"1번 위로 가서 출발, "../../" 2번 위로 가서 출발. 작업 폴더 자체의 이동이 자유롭다. </br>
깃허브 끌어오기 : 깃허브에 가서 파일을 열면 'Raw'라는 버튼이 보인다. 이 주소를 끌어다 사용하면 된다. URL주소 X </br>

파일 저장하기 : 깃허브를 이용해 파일을 저장할 수도 있다. (index 옵션 설정 기능이 있다.)

In [1]:
import pandas as pd

### 1. 상대 경로 불러오기

In [3]:
indata = pd.read_csv("../dataset/customerdata.csv")    # pd.r 만 치고 탭을 누르면 자동완성 목록에서 불러올 수 있다.

In [4]:
indata

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0    A13566  4273.900000    3            6    1.679181  Big-Screen-lover
1    A14219  3642.441950    2            4    2.682023      Sleeping-dog
2    A15312  3653.884565    2            5    3.208202      Sleeping-dog
3    A16605  3713.211107    2            6    0.900000        Early-bird
4    B10634  3391.074215    2            4    2.453656      Sleeping-dog
..      ...          ...  ...          ...         ...               ...
145  Z13253  3678.800000    2            5    2.463670  Big-Screen-lover
146  Z13534  3662.437527    3            6    0.900000        Early-bird
147  Z16428  3516.500000    2            5    2.371301  Big-Screen-lover
148  Z16735  3300.100000    2            5    1.704942  Big-Screen-lover
149  Z19835  3326.526183    2            6    1.200000        Early-bird

[150 rows x 6 columns]

In [7]:
type(indata)    # 데이터 타입을 확인

pandas.core.frame.DataFrame

### 2. 파일 저장하기

In [8]:
indata.to_csv("./test.csv") # 파이썬에서 불러와서 저장하면 기본으로 index를 첫 컬럼에 만들어 저장한다.

In [9]:
indata.to_csv("./test2.csv", index=False) # 인덱스를 없이 저장하려면 index=False 옵션을 주면 된다.

데이터는 누적해서 저장되지 않는다. 누적을 원한다면 데이터 2개를 불러와 append 해서 합치는 방법으로 할 수 있다.

### 3. 깃허브 끌어어오기

In [10]:
import pandas as pd

In [11]:
targetUrl = "https://raw.githubusercontent.com/hyokwan/python-lecture/master/dataset/feature_regression_example.csv"
lectureData = pd.read_csv(targetUrl)    # 판다스로. csv파일을 읽어라.
lectureData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155
...,...,...,...,...,...,...,...,...,...,...,...,...
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361
105,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201710,2017,10,14,N,4,N,0.000000
106,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201714,2017,14,5,N,4,N,0.000000

In [12]:
lectureData.columns = ["REGIONID","PRODUCTGROUP","PRODUCT","ITEM","YEARWEEK","YEAR","WEEK","QTY","HOLIDAY","HCLUS","PROMOTION","PRO_PERCENT"]

lectureData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773,N,4,Y,0.208155
...,...,...,...,...,...,...,...,...,...,...,...,...
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800,N,4,Y,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173,N,4,Y,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332,Y,1,Y,0.352361
105,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201710,2017,10,14,N,4,N,0.000000
106,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201714,2017,14,5,N,4,N,0.000000

### 4. 자신의 컴퓨터에 설치된 PostgesSQL DB에 접속하기.

In [1]:
import pandas as pd                     # 이쯤 되면 당연히 불러와야 할 것.
import psycopg2                         # PostgreSQL을 사용 가능하게 해준다.
from sqlalchemy import create_engine    # DB 접속 엔진을 만들어준다.

In [4]:
# PostgreSQL 데이터베이스 접속 엔진 생성.
local_postgresql_url = 'postgresql://postgres:postgres@localhost:812/postgres'
engine_postgresql = create_engine(local_postgresql_url)

read_sql_table

Signature:
pd.read_sql_table(
    table_name,
    con,
    schema=None,
    index_col=None,
    coerce_float=True,
    parse_dates=None,
    columns=None,
    chunksize=None,
)
Docstring:
Read SQL database table into a DataFrame.


read_sql_query

Signature:
pd.read_sql_query(
    sql,
    con,
    index_col=None,
    coerce_float=True,
    params=None,
    parse_dates=None,
    chunksize=None,
)
Docstring:
Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query

### 5. DB 접속 엔진을 만들어 원격지 PostgreSQL, MariaDB DB를 불러오고 수정하고 저장하는 실습.
#### aws postgresql 서버에 접속 한후 “kopo_product_volume” 자료를 불러와서
#### 컬럼명을 소문자로 변경하고 aws mariadb에 저장하세요 파일명은 kopo_product_volume_홍길동

In [14]:
# 모듈 미설치 된 경우 설치해야 할 것들.
# sqlAlchemy : pip install sqlAlchemy : DB 접속 엔진을 만들어준다.
# psycopg2 : pip install psycopg2 : PostgreSQL을 사용 가능하게 해준다.
# pymysql : pip install pymysql : mySQL, MariaDB를 사용 가능하게 해준다.


import pandas as pd
import psycopg2                          # PostgreSQL을 사용 가능하게 해준다.
import pymysql
from sqlalchemy import create_engine     # DB 접속 엔진을 만들어준다.

# PostgreSQL 데이터베이스 접속 엔진 생성.
aws_postgresql_url = 'postgresql://haiteam:haiteam@www.hadoopkorea.com:5432/postgres'
engine_postgresql = create_engine(aws_postgresql_url)

# MariaDB 데이터베이스 접속 엔진 생성.
aws_mariadb_url = 'mysql+pymysql://kopo:kopo@www.hadoopkorea.com:3306/kopo'
engine_mariadb = create_engine(aws_mariadb_url)

# AWS PostgreSQL DB 테이블을 읽어 판다스를 이용해 파이썬에 Data Frame 변수로 저장하기.
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_postgresql)
# 불러온 DB 확인.
selloutData

# 컬럼해더 재정의.
selloutData.columns = ['salesid','productgroup','yearweek','volume']
# 컬럼해더 변경 확인.
selloutData.head()

# AWS MariaDB에 데이터 저장하기.
# 파일 명으로 넣을 변수 선언.
resultname='kopo_product_volume_박종환'
# 
selloutData.to_sql(name=resultname, con=engine_mariadb, index = False, if_exists='replace')